# 主模型
MAIN_MODEL_ID=qwen-vl-plus
MAIN_API_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MAIN_API_KEY=your-main-api-key

# 裁判模型（LLM as a judge）
JUDGE_MODEL_ID=qwen-plus
JUDGE_API_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
JUDGE_API_KEY=your-judge-api-key

